<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="website ini adalah websie latihan untuk memenuhi kelas 
                                    Menjadi Front-End Web Developer Expert">
  <meta name="viewport" content="width=device-width , initial-scale=1.0">
  
  <link rel="icon" href="/images/favicon.png?v=123" type="image/png">

  <link rel="manifest" href="./apk.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <title>Indo Resto</title>

  </head>
<body>
  <a aria-label="Skip to content" class="skip" tabindex="0">Skip to Content</a>
  
  <header>
    <div class="logo" aria-label="Indo Resto" ><button type="button" id="hamburger" href="#">☰</button>Indo Resto</div>
    <drawer-nav></drawer-nav>  
  </header>

  <hero-image></hero-image>

  <main id="content" tabindex="0">
    <div class="cards_item" id="item"></div>
  </main>

<footer>
  <h5>Copyright|@Ezra Jon Freddy Pakpahan<br>2023</h5>
</footer>

</body>
</html>
