<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#e9f542"/>
  
    <link rel="icon" href="./icons/elfood-icon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps</title>
  </head>
  <body>
  <header>
    <app-bar></app-bar>
    <hero-bar></hero-bar>
  </header>
  <main id="mainContent">

  </main>
  <footer>
    <button id="subscribePushNotification" class="btn">Subscribe Push Notification</button>
    <button id="unsubscribePushNotification" class="btn">Unsubscribe Push Notification</button>
    <p tabindex="0"> Copyright © 2023 - El Food</p>
    <p tabindex="0"> Dicoding Submission </p>
    <p tabindex="0"> Find me on social media.</p>
    <div class="socmed">
        <a target="_blank" href="https://www.instagram.com/iqiiiiiiiiii/" class="instagram" aria-label="Instagram"></a>
        <a target="_blank" href="https://www.facebook.com/rifqi.naufal.58760/" class="facebook" aria-label="facebook"></a>
        <a target="_blank" href="https://www.linkedin.com/in/mochammadrifqinaufalalfayyadh/" class="linkedin" aria-label="Linkedin"></a>
    </div>
  </footer>
  </body>
</html>
