<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
  </head>
  <body>
  <header>
    <app-bar></app-bar>
    <hero-bar></hero-bar>
  </header>
  <main id="mainContent">

  </main>
  <footer>
    <p tabindex="0"> Copyright © 2023 - El Food</p>
    <p tabindex="0"> Dicoding Submission </p>
    <p tabindex="0"> Find me on social media.</p>
    <div class="socmed">
        <a target="_blank" href="https://www.instagram.com/iqiiiiiiiiii/" class="instagram" aria-label="Instagram"></a>
        <a target="_blank" href="https://www.facebook.com/rifqi.naufal.58760/" class="facebook" aria-label="facebook"></a>
        <a target="_blank" href="https://www.linkedin.com/in/mochammadrifqinaufalalfayyadh/" class="linkedin" aria-label="Linkedin"></a>
    </div>
  </footer>
  </body>
</html>
